[NetDev]
# https://www.kernel.org/doc/Documentation/networking/bonding.txt
Description=Bond interface configuration (bond0)
Name=bond0
Kind=bond
MACAddress=3c:4a:92:00:4c:5b

[Bond]
Mode=balance-rr
MIIMonitorSec=0.1
UpDelaySec=0.3
DownDelaySec=0.3
PrimaryReselectPolicy=always
PacketsPerSlave=10
