[Match]
Name=lo

[Network]
Description=Loopback configuration (lo)

DHCP=no
LinkLocalAddressing=no
Address=127.0.0.1/8
Address=::1/128
IPv6AcceptRouterAdvertisements=false
