[Match]
Name=bond0

[Network]
Description=Bonded network configuration (bond0)
DHCP=ipv4
#LinkLocalAddressing=yes
DNS=127.0.0.1
#IPv6AcceptRouterAdvertisements=true

[DHCP]
UseDNS=false
UseNTP=false
UseMTU=false
SendHostname=true
UseHostname=false
UseDomains=false
UseRoutes=true
#UseTimezone=true
CriticalConnection=true
